<!DOCTYPE html>
        <html>
            <head>
                <title>::: Stickers :::</title>
                <meta charset="utf-8">
                <link rel = "stylesheet" href = "css/stickers.css">
                <script src = "js/json2.js"></script>
                <script src = "js/jquery.js"></script>
                <script src = "js/underscore.js"></script>
                <script src = "js/backbone.js"></script>
                <script src = "js/backbone-localstorage.js"></script>

                <script src = "js/stickers.js"></script>

 <!--              <script src = "js/Model.js"></script>
                <script src = "js/ModelView.js"></script>
                <script src = "js/ModelCollection.js"></script>
                <script src = "js/CollectionViev.js"></script>
                <script src = "js/run.js"></script>

-->
                <script type = "text/html" id = "sticker_tpl"><br>
                   <div class="sticker_div" >
                       <%= stc_text %> <%= x %> <%= y %>
                   </div>
                </script>
            </head>
            <body>
                <div id = "stickers" >Click on the area, to create new sticker</div>
            </body>
        </html>