<!DOCTYPE html>
<html>
<head>
  <title>Rorstickers</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<!--  
                <link rel = "stylesheet" href = "css/stickers.css">

                <script src = "js/json2.js"></script>
                <script src = "js/jquery.js"></script>
                <script src = "js/underscore.js"></script>
				<script src = "js/php_undescore.js></script>
                <script src = "js/backbone.js"></script>
                <script src = "js/backbone-localstorage.js"></script>

                <script src = "js/stickers.js"></script>
				
				<script type = "text/html" id = "sticker_tpl"><br>
                    <div class="sticker" >
					   text: <?= stc_text ?></br>
                       x: <?= x ?></br>
                       y: <?= y ?></br>
                       id: <?= id ?>
                       url: <?= url ?>
                   </div>
                </script>
-->
	  
</head>
<body>

<%= yield %>

</body>
</html>
