<!DOCTYPE html>
    <html>
        <head>
            <title>::: Backbone (first look) :::</title>
            <meta charset="UTF-8">
            <script src = "js/jquery.js"></script>
            <script src = "js/underscore.js"></script>
            <script src = "js/backbone.js"></script>
            <script src = "js/bb.js"></script>

            <script type = "text/html" id = "kitty_tpl">
                There is <%= color %> cat  <%= name %>!
            </script>
        </head>
        <body>
            <div id = "cats_action">
                Click here to see cats
            </div>
        </body>
    </html>
