<!DOCTYPE html>
    <html>
        <head>
            <title></title>
            <meta charset="UTF-8">
            <link rel = "stylesheet" href = "css/css.css">

            <script src = "js/json2.js"></script>
            <script src = "js/jquery.js"></script>
            <script src = "js/underscore.js"></script>
            <script src = "js/backbone.js"></script>
            <script src = "js/backbone-mediator.js"></script>
            <script src = "js/backbone-localstorage.js"></script>

            <script src = "js/menu_items.js"></script>
            <!--<script src = "js/menu_categories.js"></script>-->
           <!--<script src = "js/run.js"></script>-->

            <script type = "text/html" id = "item_tpl">
                       Category: <%= category %> &nbsp;
                       Name: <%= name %> &nbsp;
                       Description: <%= desc %> &nbsp;
                       Price: <%= price %> &nbsp;
                </script>

<!--
            <script type = "text/html" id = "category"><br>
                   <div class = "category-container" >
                       Category_name: <%= category_name %>
                   </div>
                </script>
-->


        </head>
        <body>
            <button type = "button" id="publish">Add Items</button>
            <div id = "Drinks1">Drinks</div>
            <div id = "Desserts1">Desserts</div>
            <div id = "Entrees1">Entrees</div>
            <div id = "Bar1">Bar</div>
            <div id = "Sides1">Sides</div>


            <script>
                $( "#publish" ).click(function() {
                    Backbone.Mediator.pub( "categories-ready", { "Drinks": $( "#Drinks1" ), "Desserts": $( "#Desserts1" ), "Entrees": $( "#Entrees1" ), "Bar": $( "#Bar1" ), "Sides" : $( "#Sides1" ) });
                });
             </script>
        </body>
</html>