<!DOCTYPE html>
    <html>
        <head>
            <title></title>
            <link rel = "stylesheet" href = "css/css.css">

            <script src = "js/json2.js"></script>
            <script src = "js/jquery.js"></script>
            <script src = "js/underscore.js"></script>
            <script src = "js/backbone.js"></script>
            <script src = "js/backbone-localstorage.js"></script>

            <script src = "js/menu_items.js"></script>

            <script type = "text/html" id = "item_tpl"><br>
                   <div class="sticker" >
                       Category: <%= category %></br>
                       Name: <%= name %></br>
                       Description: <%= desc %></br>
                       Weight: <%= weight %></br>
                       Price: <%= price %></br>
                       id: <%= id %>
                       </br>
                       </br>
                   </div>
                </script>
            <script></script>



        </head>
        <body>
        <div id= "items_cnt">Menu items is going there (after clicking)</div>
        </body>
</html>