.sticker_div{
    width: 180px;
    height: 180px;
    background-color: papayawhip;
    font-size: 180%;
    display: inline-block;


}
#stickers{
    background-color: purple;

    width: 80%;
    height: 380px;
    font-size: 20px;
    color: white;

}