.sticker{
    width: 180px;
    height: 180px;
    background-color: papayawhip;
    font-size: 180%;
}


#stickers_container{
    background-color: purple;
    width: 80%;
    height: 600px;
    font-size: 20px;
    color: white;

}