#control_panel{
    background-color: lightsalmon;
    text-align: center;
    position: relative;
    margin: 0 auto;
}

#extensible_table{
    background-color: #ffcc99;
    margin:0 auto;
}


.contBtnDiv {
    background-color: lightsalmon;
    width:100px;
    height:100px;
    float:left;
    margin-left:80px;
    text-align:center;

}